<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <div class="page-main">
        <header>
            <div class="header">
                <a href="#" class="header__logo"></a>
                <ul class="header-list">
                    <li class="header-list__item active"><a href="#" class="header-list__link">Home</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">About</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Contents</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Books</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Education</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Skills</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Portfolio</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Clients</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">Contact</a></li>
                </ul>
            </div>
        </header>
        <div class="wrap">
            <div class="block-book">
                <div class="block-book-demo">
                    <h1 class="block-book-demo__title">Good book<span>Don’t judge a book by its cover</span></h1>
                    <p class="block-book-demo__name">- By Emma Anderson</p>
                </div>
                <div class="block-text">
                    <p class="block-text__name">- By Emma Anderson</p>
                    <h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
                    <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut </p>
                    <a href="#" class="block-text__btn">Buy this book - $15.00</a>
                    <small class="text-small">* Some conditions may applicable</small>
                </div>
            </div> 
         </div>
    </div>
    <div class="page">
        <div class="wrap">
            <div class="block-author">
                <div class="block-text">
                    <p class="block-text__name block-text__name-top">- Book Author</p>
                    <h2 class="block-text__title">Emma Anderson <span>A room without books is like a body without a
                            soul</span></h2>
                    <p class="block-text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="block-text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                    <a href="#" class="block-text__btn block-text__btn-width">Read full biography </a>
                </div>
                    <div class="block-ava">
                        <svg class="block-ava__svg" width = "435" height= "558">
                            <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="558">
                                <stop offset="0" style="stop-color: #446a87"/>
                                <stop offset="1" style="stop-color: #59c2ae" />
                            </linearGradient>
                            <rect width = "435" height= "558" x="0" y="0" fill="url(#gradient)"></rect>
                        </svg>
                        <img class="block-ava__img" src="img/Emma-Anderson.png" alt="Emma-Anderson">         
                    </div>
            </div>
            <div class="block-counter">
                <p><span>12</span>Total published books</p>
                <p><span>5</span>Happy readers</p>
                <p><span>15,000</span>Happy readers</p>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="wrap">
            <h2 class="page__title">Book Contents</h2>
            <p class="page__subtitle">Let’s see what we have covered in the book</p>
            <div class="block-about">
                <div>
                    <h3>About the book</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                    <div>
                        <p>Featured in:</p>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <h3>Table of contents</h3>
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Labore et dolore magna</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Labore et dolore magna</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Labore et dolore magna</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Labore et dolore magna</li>
                </ol>
                <a href="#">More</a>
            </div>
        </div>
    </div>
    <div class="serial-book">
        <div class="wrap">
            <h3 class="title">Other Books</h3>
            <p class="subtitle">Some books you might be interested in</p>
            <div class="inception">
                <img src="img/book-2.svg" alt="book">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <a href="#">READ MORE</a>
            </div>
            <div class="fight Club">
                <img src="img/book-2.svg" alt="book">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <a href="#">READ MORE</a>
            </div>
            <div class="daredevils">
                <img src="img/book-2.svg" alt="book">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <a href="#">READ MORE</a>
            </div>
            <a href="#">Browse all books</a>
        </div>
    </div>
    <div class="block-dennings">
        <div class="wrap">
            <img src="img/kate.png" alt="avatar">
            <h3>Kate Dennings</h3>
            <p>Calligraphy Expert</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div class="pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
    </div>
    <div class="register-user">
        <div class="wrap">
            <div>
                <img src="img/author.png" alt="author">
            </div>
            <p>- Emma Anderson</p>
            <h1>Upcoming Events</h1>
            <p>Some upcoming events you might be interested in</p>
            <div class="book-signing">
                <p>November 21, 2018</p>
                <h3>Book signing - San francisco, CA</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <button class="button-register"></button>
            </div>
            <div class="book-signing">
                <p>November 21, 2018</p>
                <h3>Book reading - Los Angeles, CA</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <button class="button-register"></button>
            </div>
        </div>
    </div>
    <div class="block-blog">
        <div class="wrap">
            <h1 class="blog-title">Latest from Blog</h1>
            <p class="blog-subtitle">Some of the latest posts from my personal blog</p>
            <div class="block-card">
                <div class="blog-photography">
                    <img src="img/blog-photo-1.png" alt="phot-1">
                    <h4>Importance of light in photography</h4>
                    <p>By<a href="#">Emma Anderson - June 20, 2018</a></p>
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
                </div>
                <div class="blog-perfection">
                    <img src="img/blog-photo-2.png" alt="photo-2">
                    <h4>The tools you need for the perfection</h4>
                    <p>By<a href="#">Emma Anderson - June 25, 2018</a></p>
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
                </div>
                <div class="blog-important">
                    <img src="img/blog-photo-3.png" alt="photo-3">
                    <h4>Knowing the difference is important</h4>
                    <p>By<a href="#">Emma Anderson - August 22, 2018</a></p>
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
                </div>
            </div>
            <a href="#">Read more in the blog</a>
        </div>
    </div>
    <div class="block-input">
        <div class="wrap">
            <div class="text-input">
                <h1>Join Newsletter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
            <form action="#" class="form-block">
                <input type="e-mail" placeholder="Enter your email">
                <button class="input-btn">Subscribe</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="wrap">
            <div class="footer-bukee">
                <p>ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>© 2018 Bukee Private Limited.</p>
            </div>
            <div class="footer-links">
                <h2>Useful Links</h2>
                <a href="#">About Bukee</a>
                <a href="#">Explore Our Ecosystem</a>
                <a href="#">Monthly Community Meetup</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="footer-contacts">
                <h2>Our Contacts</h2>
                <address>Amphitheatre Parkway, CA, 94043
                    Call us on: +4455663322
                    Email: support@bukee.mail</address>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    </footer>
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
